<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Quizz Movember</title>
	
	<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="resources/css/generic.css" rel="stylesheet" type="text/css" />
	<link href="resources/css/ui.dynatree.css" rel="stylesheet" type="text/css">
	<link href="resources/css/prettify.css" rel="stylesheet" type="text/css">
	<link href="resources/css/jquery.alerts.css" rel="stylesheet" type="text/css">
	<link href="resources/css/ui.jqgrid.css" rel="stylesheet" type="text/css">
	
  	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
	<script type="text/javascript" src="resources/js/generic.js"></script>
  	<script src="resources/js/jquery.dynatree.js" type="text/javascript"></script>
	<script src="resources/js/prettify.js" type="text/javascript"></script>
	<script src="resources/js/jquery.alerts.js" type="text/javascript"></script>
	<script src="resources/js/jquery.jqGrid.min.js" type="text/javascript"></script>
	<script src="resources/js/i18n/grid.locale-es.js" type="text/javascript"></script>
</head>
<body id="quizz">
	<div id="ppal_page">
		<div id="header">
			<h1>Gestor de encuestas</h1>
		</div>
		
		<div id="menu">
			<a href="javascript:void" onclick="javascript:generic.getList('usuario');" title="Ver usuarios">Usuarios</a>
			<a href="javascript:void" onclick="javascript:generic.getList('encuesta');" title="Ver encuestas">Encuestas</a>
		</div>
		
		<div id="content">
			
		</div>
		
		<div id="footer">
			<h1>Movember S.L [Yamaradax & Huguet Association] &#174;</h1>
		</div>
	</div>
</body>
</html>