<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://vpreatdesk.atsistemas.lan:3306/db_practicas</property>
		<property name="hibernate.connection.username">desa_practicas</property>
		<property name="hibernate.connection.password">desa_practicas05</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping resource="com/spring3/hibernate/db_practicas.xml"></mapping> 
	</session-factory>
</hibernate-configuration> 